board = [("New York", "Boston", "", 2),
  ("New York", "Washington DC", "white", 2),
  ("Atlanta", "Boston", "", 4),
  ("Atlanta", "Miami", "", 3),
  ("New York", "Miami", "black", 5)]
carriageTypes = ["blue", "black", "yellow", "orange", "red", "purple", "white"]
tickets = [("New York", "Miami", 5),
  ("New York", "Atlanta", 3),
  ("Washington DC", "Miami", 7)]
points = [(1,1),
  (2,2),
  (3,3),
  (4,5),
  (5,7),
  (6,15)]

